
<!DOCTYPE html>
<html class='no-js'>
<head>
  <title><%= RailsAngularDevise::Application.config.app_name %></title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'ng-application' %>
  <%= csrf_meta_tags %>
  <!-- This meta tag makes the site scale correctly for mobile browsers -->
  <meta name='viewport' content='width=device-width; initial-scale=1.0; maximum-scale=1.0;'/>
</head>

  <%= yield %>

</html>